*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.enlaces{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 30px auto;
}
.grid{
	border: 3px solid #3e3e3e;
	overflow: auto;
}
.row: before, .row:after{
	content: " ";
	display: table;
}
.row:after{
	clear: both;
	width: 100%;
}.col-1{
    width: 8.333%;
}
.col-2{
    width: 16.666%;
}
.col-3{
    width : 25%;
}
.col-4{
    float: left;
    height: 300px;
    padding: 10px;
    width: 33.3333%;
}
.col-4:nth-child(3){
    float: right;
    height: 300px;
    padding: 10px;
    width: 33.3333%;
}
.col-5{
    width: 41.666%
}
.col-6{
	float: left;
    height: 300px;
    padding: 10px;
    width: 50%;
}
.col-7 {
	float: left;
    height: 300px;
    padding: 10px;
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
    float: left;
    height: 300px;
    padding: 10px;
}
.col-9{
	float: left;
    height: 300px;
    padding: 10px;
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.63%;
}
.col-12{
	float: left;
    height: 300px;
    padding: 10px;
    width: 100%;
}
.box{
	width: 100%;
	height: 100%;
}
.plomo{
	background-color: #77787c;
}
.claro{
	background-color: #dcdddf;
}
#altura .col-4{
	height: 600px;
}
#altura .col-12{
	height: 500px;
}
#altura .col-8{
	height: 500px;
}
#altura-max .col-8{
	height: 700px;
}
#altura-max .col-4{
	height: 700px;
}